/*last banner*/
.banner {
    text-align: left;
    line-height: 2rem;
    font-weight: 500;
    max-width: 600px;

}
.product-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap:1rem;
    background-color: black;
}
.banner-4{
    float: left;
}

.banner-4 ul>li {
    display: block;
    padding: 0.6rem;
    margin-bottom: .5rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    transition: all 0.2s ease;
    cursor: pointer;
    /* text-align: left; */
    width: fit-content;
}

.banner-4 ul>li:hover {
    background-color: rgba(0, 0, 0, 0.8);
}